<div class="title">
	<div class="text layer4">
	<div class="inner">
	<h1>Grow Your<br>Own Cloud</h1><br>
	<h3>You've been invited to store your data, nature's way.</h3>
</div>
<div class="main-text">
	<p>Welcome to this private space for our selected clients. Here you can carefully choose some data to upload to the new cloud. This could be a photo, a poem, a song, your social media history or any other file of your choice. If you are ready to begin the process click start.
<!-- 	<p><span style="background-color: red">Please note uploads are currently not available</span></br><a href="https://growyourown.cloud">visit growyourown.cloud for details</a> 
	</p> -->
	</p>
	<%= link_to 'Start',new_user_registration_path, data: { turbolinks: false }, :style=>'width:100px; line-height:30px; text-decoration:none', :class => "btn btn-primary" %>
</div>	
<!-- <div class="main-text">
	</br>Step 3: Encode Schedule a 20 minute meeting with artists and scientists at our Blomsterskuret location in Copenhagen. Our in-store experience will help you store your data nature's way, and teach you how to care for your data. 
	</p>
</div> -->
	</br>
<div class="main-text">
	<p><b>Find Out More</b></p>
	For more information about the project please visit us at <a href="https://growyourown.cloud">growyourown.cloud</a>

</p>
</div>