@font-face {
    font-family: "Akkurat-Pro-Regular";
    src:font_url("lineto-akkurat-pro-regular.eot");
    src:font_url("lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"),
        font_url("lineto-akkurat-pro-regular.woff2") format("woff2"),
        font_url("lineto-akkurat-pro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }